/**
 * About Us
 *
 * @condition is_page():"15"
 * @weight 1
 */
body {
  background: #a0cef5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mainWrapper {
  width: 98%;
  width: calc(100% - 14px);
  max-width: 1300px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
}

#wrapper {
  padding-bottom: 10px;
}

.sticky-estimate-button {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 6px;
  z-index: 999;
  overflow: hidden;
  perspective: 900px;
}

.sticky-estimate-button a {
  transform: translate(0%, 115%) rotateY(-180deg);
}

h1 {
  margin: .2em auto .3em;
  text-rendering: optimizeLegibility;
  line-height: 1.15;
}

h1 {
  font-size: 2.8em;
  font-family: 'Oswald', sans-serif;
}

p {
  line-height: 1.5;
}

a {
  color: #0963b4;
}

.button {
  display: inline-block;
  background: #345;
  background: linear-gradient(#456,#23292f);
  color: white;
  padding: .6em 0.7em;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  z-index: 99;
}

.button:after {
  content: " \00bb";
  display: inline-block;
  padding-left: .2em;
  transform-origin: bottom;
  transform: translate(0,-1px);
}

.primary.button {
  background: #d3391f;
  background: linear-gradient(#d94123, #ca2e19);
  font-size: 1.35em;
  border: solid .1em #ffc786;
}

img {
  max-width: 100%;
  height: auto;
}

.alignright {
  float: right;
  margin-left: 15px;
  clear: right;
  margin-top: .25em;
  max-width: 50%;
}

.maxwidth {
  max-width: 960px;
  margin: auto;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

.margin {
  margin: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0;
}

.logo {
  float: left;
  margin-left: 5px;
  margin-bottom: -50px;
  position: relative;
  z-index: 99;
  width: 140px;
}

.header-aside {
  text-align: right;
  flex: 1 1 auto;
  order: 3;
  float: right;
  line-height: 1;
}

.header-aside .phone {
  padding-right: 8px;
  font-size: 2em;
  font-weight: bold;
}

.dry-ribbon {
  display: inline-block;
  margin-right: -14px;
}

.sticky-header {
  position: fixed;
  top: -250px;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 80%;
}

.sticky-header .header {
  background: rgba(255,255,255,.94);
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
}

.sticky-header .topnav {
  padding: 0;
  width: auto;
}

.sticky-header .logo {
  width: 68px;
}

.sticky-header .header-aside {
  padding-top: .75em;
}

.sticky-header .header-aside .phone {
  font-weight: normal;
  font-size: 1.75em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav {
  float: left;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 8px 6px;
  line-height: 1;
}

.topnav li {
  display: inline-block;
  position: relative;
}

.topnav li.current-menu-item > a {
  background: #edf6ff;
  border: solid 1px #def;
}

.topnav li a {
  display: inline-block;
  padding: .8em;
  color: #123;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 2px;
}

.topnav li.menu-item-has-children > a:after {
  content: "";
  display: inline-block;
  border: solid .14em transparent;
  border-top: solid .24em;
  border-bottom: solid .4em transparent;
  vertical-align: bottom;
  line-height: 1;
  margin-left: 4px;
  opacity: .8;
}

.topnav .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  background: rgba(255,255,255,.96);
  font-size: 85%;
  min-width: 14em;
  box-shadow: 0 2px 4px rgba(0,15,45,.4);
  z-index: 999;
}

.topnav li .sub-menu li,
.topnav li .sub-menu li a {
  display: block;
  border-bottom: solid 1px #eee;
}

.topnav li:last-child .sub-menu {
  left: auto;
  right: 0;
}

.entry-content {
  padding: 0.5em 10px;
}

.section-header,
.section-footer {
  text-align: center;
  padding: 5px;
}

.leave-google-review {
  text-align: center;
  background: #3183cf;
  color: white;
  padding: 12px 10px 90px;
  position: relative;
}

.background-box {
  background-image: linear-gradient(143deg,  #3b86c6 40%, #a7ddff);
  padding: 0em 0 8%;
  color: white;
  position: relative;
  overflow: hidden;
  clear: both;
}

.background {
  height: 100%;
  position: absolute;
  bottom: -6%;
  left: 0;
  right: 0;
  background-size: 50% 100px;
  transform-origin: 50% 100%;
  width: 200%;
  background-size: 50% auto;
}

.background.front {
  background: url(https://res.cloudinary.com/ez-nettools/image/upload/v1498160474/cloudsFront_msajaf.png) repeat-x bottom;
  background-size: 50% auto;
  z-index: 15;
  opacity: 0.3;
  animation: move_cloud 8s linear infinite -1s;
}

.background.med {
  background: url(https://res.cloudinary.com/ez-nettools/image/upload/v1498160477/cloudsMed_zn9nld.png) repeat-x left bottom;
  background-size: 50% auto;
  opacity: .5;
  z-index: 10;
  animation: move_cloud 24s linear infinite;
}

.background.back {
  background: url(https://res.cloudinary.com/ez-nettools/image/upload/v1498160474/cloudsFront_msajaf.png) repeat-x bottom;
  background-size: 50% auto;
  opacity: 1;
  z-index: 5;
  animation: move_cloud 42s linear infinite;
}

@keyframes move_cloud {
  0% {
    transform: translateX(0) translateZ(0);
  }

  50% {
    transform: translateX(-25%) scaleY(0.75) translateZ(0);
  }

  100% {
    transform: translateX(-50%) translateZ(0);
  }
}

.footer a {
  color: white;
}

@media (min-width:1080px) {
  html {
    font-size: 108%;
  }
}

@media (min-width:1300px) {
  html {
    font-size: 115%;
  }
}

@media (max-width:1300px) {
  #wrapper {
    margin-left: 0;
  }
}

@media (max-width:890px) {
  html {
    font-size: 95%;
  }

  .logo {
    width: 86px;
  }

  #wrapper {
    width: 100%;
  }

  .dry-ribbon {
    max-width: 200px;
    margin-right: 0px;
    overflow: hidden;
  }

  .dry-ribbon img {
    width: 100%;
    text-align: right;
    margin-right: -16px;
  }

  .header-aside .phone {
    font-size: 1.6em;
  }
}

@media (max-width:780px) {
  .topnav li a {
    font-size: 1em;
  }
}

@media (max-width:680px) {
  html {
    font-size: 90%;
  }
}

@media (max-width:660px) {
  .header-aside {
    order: 0;
  }

  .topnav {
    display: flex;
    width: 100%;
    padding: 18px 0 0;
  }

  .topnav ul {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }

  .topnav li {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
  }

  .topnav li a {
    flex: 1 1 auto;
    border: solid 1px #eee;
    padding: 1em .2em;
    border-radius: 0;
  }
}