/**
 * Before and After
 *
 * @condition is_page_template():"template-before-after.php"
 * @weight 1
 */
body {
  background: #a0cef5;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mainWrapper {
  width: 98%;
  width: calc(100% - 14px);
  max-width: 1300px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,.25);
}

#wrapper {
  padding-bottom: 10px;
}

.sticky-call-action {
  position: fixed;
  bottom: 0;
  right: 10px;
  z-index: 999;
  overflow: hidden;
  text-align: center;
  perspective: 900px;
}

.sticky-call-action .popup {
  color: #333;
  padding: 0 4px 4px;
  transform: translate(0%, 115%) rotateY(-180deg);
}

@media (max-width:500px) {
  .sticky-call-action {
    left: 0;
    right: 0;
  }

  .sticky-call-action .popup {
    padding: 2px;
  }

  .sticky-call-action .popup a {
    width: 100%;
  }
}

h1,
h2 {
  margin: .2em auto .3em;
  text-rendering: optimizeLegibility;
  line-height: 1.15;
}

h1 {
  font-size: 2.8em;
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 1.8em;
  font-family: 'Oswald', sans-serif;
}

a {
  color: #0963b4;
}

.button {
  display: inline-block;
  background: #345;
  background: linear-gradient(#456,#23292f);
  color: white;
  padding: .6em 0.7em;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  z-index: 99;
}

.button:after {
  content: " \00bb";
  display: inline-block;
  padding-left: .2em;
  transform-origin: bottom;
  transform: translate(0,-1px);
}

.primary.button {
  background: #d3391f;
  background: linear-gradient(#d94123, #ca2e19);
  font-size: 1.35em;
  border: solid .1em #ffc786;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
  padding: 0;
}

article,
aside,
figcaption,
figure,
header,
nav,
section {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px 0;
}

.logo {
  float: left;
  margin-left: 5px;
  margin-bottom: -80px;
  position: relative;
  z-index: 99;
  width: 136px;
}

.header-aside {
  text-align: right;
  flex: 1 1 0;
  order: 3;
  float: right;
  line-height: 1;
}

.header-aside .phone {
  padding-right: 8px;
  font-size: 1.6em;
  font-weight: bold;
  color: #2a2a2a;
}

.phone .phone-icon {
  animation: 1.1s tada 1.6s ease-in-out;
}

.dry-ribbon {
  display: inline-block;
  margin-right: -12px;
  max-width: 230px;
}

.sticky-header {
  position: fixed;
  top: -250px;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 80%;
}

.sticky-header .header {
  background: rgba(255,255,255,.94);
  box-shadow: 0 1px 2px rgba(0,0,0,.25);
  padding: 0;
}

.sticky-header .topnav {
  padding: 0;
  width: auto;
}

.sticky-header .logo {
  width: 68px;
}

.sticky-header .header-aside {
  padding-top: .6em;
}

.sticky-header .header-aside .phone {
  font-weight: bold;
  font-size: 1.75em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.topnav {
  float: left;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  padding: 8px 6px;
  line-height: 1;
}

.topnav li {
  display: inline-block;
  position: relative;
}

.topnav li.current-menu-item > a,
.topnav li.current-menu-ancestor > a {
  background: #edf6ff;
  border: solid 1px #def;
}

.topnav li a {
  display: inline-block;
  padding: .8em;
  color: #123;
  font-size: 1.1em;
  text-decoration: none;
}

.topnav li.menu-item-has-children > a:after {
  content: "";
  display: inline-block;
  border: solid .14em transparent;
  border-top: solid .24em;
  border-bottom: solid .4em transparent;
  vertical-align: bottom;
  line-height: 1;
  margin-left: 4px;
  opacity: .8;
}

.topnav .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: transparent;
  font-size: 85%;
  min-width: 14em;
  box-shadow: 0 2px 4px rgba(0,15,45,.4);
  z-index: 999;
  overflow: hidden;
  transform-origin: top;
}

.topnav li .sub-menu li,
.topnav li .sub-menu li a {
  display: block;
  line-height: 1.15;
}

.topnav li .sub-menu li a {
  border-bottom: solid 1px #d4d8de;
  background: #fff;
  background: rgba(255,255,255,.96);
}

.topnav li:last-child .sub-menu {
  left: auto;
  right: 0;
}

.entry-content {
  padding: 0.5em 10px;
}

.blue-header {
  background: #2a79c0;
  color: white;
  border-radius: 3px 3px 0 0;
  margin: 10px 10px 0;
  padding: .5em 1em;
}

.before-after {
  padding: 10px;
  //margin-bottom: 10px;
}

.before-after-set {
  display: flex;
  margin: 0;
  justify-content: center;
  text-align: center;
}

.before-after-set figure {
  display: inline-block;
  margin: 0px 0px 4px;
  flex: 1 1 200px;
}

.before-after-set figure img {
  width: 100%;
}

.footer a {
  color: white;
}

@media (min-width:1080px) {
  html {
    font-size: 108%;
  }
}

@media (min-width:1300px) {
  html {
    font-size: 115%;
  }
}

@media (max-width:1300px) {
  #wrapper {
    margin-left: 0;
  }
}

@media (max-width:890px) {
  html {
    font-size: 95%;
  }

  .logo {
    width: 86px;
  }

  #wrapper {
    width: 100%;
  }

  .dry-ribbon {
    max-width: 200px;
    margin-right: 0px;
    overflow: hidden;
  }

  .dry-ribbon img {
    width: 100%;
    text-align: right;
    margin-right: -16px;
  }

  .header-aside .phone {
    font-size: 1.6em;
  }
}

@media (max-width:780px) {
  .topnav li a {
    font-size: 1em;
  }
}

@media (max-width:680px) {
  html {
    font-size: 90%;
  }
}

@media (max-width:660px) {
  .header-aside {
    order: 0;
  }

  .topnav {
    display: flex;
    width: 100%;
    padding: 18px 0 0;
  }

  .topnav ul {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
  }

  .topnav li {
    display: flex;
    flex: 1 1 auto;
    text-align: center;
  }

  .topnav li a {
    flex: 1 1 auto;
    border: solid 1px #eee;
    padding: 1em .2em;
    border-radius: 0;
  }
}